[Unit]
Description=petclinic app

[Service]
ExecStart=/opt/petclinic/grailsw run-app

User=root
Group=root

Restart=always

[Install]
WantedBy=multi-user.target
